.mat-icon {
    color: #ffa200;
}
.cust-icon {
    font-size: 55px;
    z-index: 999;
    position: absolute;
    left: 70px;
    top: 40px;
}
.cust-img {
    opacity: 0.5;
    margin-left: -38px;
}
.cust-btn {
    background: transparent;
    border: none;
}
.cust-player {
    text-align: center;
}
.cust-margin {
    margin-left: -30px;
}
.cust-link {
    color: #ffa200;
}
